
@media screen and (min-width:1280px) {
  .navbar-nav {
    gap:15px;
  }
}
 
@media screen and (max-width:1199px) {
  .common-heading-section h2 {
    font-size: 50px;
    line-height: 65px;
  }
  .common-heading-section h3 {
    font-size: 35px;
    line-height: 42px;
  }

  .header-right {
    margin-top: 40px;
    padding-bottom: 40px;
  }
  .navbar-nav{
    margin-top: 30px;
  }
  .footer-item {
    padding: 65px 30px;
    border-left: 1px solid #FFFFFF1A;
  }
}
@media screen and (max-width: 991px) {
  .footer{
    flex-wrap: wrap;
  }
  .footer-pagination{
    width: 100%;
  }
  .footer-description{
    text-align: center;
    width: 100%;
  }
  .common-heading-section h2 {
    font-size: 40px;
    line-height:50px;
  }
  .common-heading-section h3 {
    font-size: 32px;
    line-height:40px;
  }
  .primary-btn,.secondary-btn {
    padding: 14px 28px;
    gap: 5px;
  }
  .btn-sm {
    font-size: 15px;
    height: 40px;
    min-width: 144px;
    padding:8px;
  }
  .nav-item > a{
    padding: 10px;
  }
  .navbar-collapse {
    margin-top: 25px;
  }
  .header-area {
    margin-bottom:0px;
  }
  .common-heading-section h2,.common-heading-section h3,.common-heading-section h4,.common-heading-section p{
    text-align: center;
  }
  .hero-section {
    padding-top:70px;
  }
  .mt-70 {
    margin-top: 50px;
  }
  .header-right {
    margin-top: 25px;
  }
  .logo-img img{
    display: none;
  }
  .mt-100 {
    margin-top: 80px;
  }
  .clients-trading-table{
    margin-top: 0;
  }
  .ico-section{
    padding: 0;
  }
  .hero-child-image-1 {
    left: -5%;
    width: 140px;
  }
  .hero-child-image-2 {
    right: -3%;
    width: 150px;
  }
  .card-1 {
    width: 200px !important;
  }
  .information-content{
    margin-top: 60px;
  }
  .mt-140{
    margin-top: 100px;
  }
  .step-card{
    justify-content: space-between;
  }
}
@media screen and (max-width:767px) {
  .shape-5{
    max-width: 350px;
    width: 100%;
    right: 0;
  }
  .shape-1{
    max-width: 350px;
    width: 100%;
    left: 0;
  }
  .footer-item {
    padding: 30px 12px;
  }
  .faq-thumbnails{
    text-align: center;
  }
  .faq-thumbnails img{
    width: 70% !important;
  }
  .slider-arrows{
    margin-top: 40px;
  }
  .step-card-thumbnail{
    text-align: center;
  }
  .step-card-thumbnail img{
    width: 50%;
  }
  .step-card{
    flex-wrap: wrap;
    justify-content: center;
  }
  .coin-info-text h5, .coin-rate h5 {
    font-size: 18px;
    line-height: 26.4px;
    color: #FFFFFF;
  }
  .primary-btn, .secondary-btn {
    padding: 12px 24px;
  }
  .support-list {
    width: 100%;
  }
  .footer {
    gap:35px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .btn-list ul {
    gap:10px;
  }
  .common-heading-section h2 {
    font-size: 32px;
    line-height: 46px;
  }
  .common-heading-section h3 {
    font-size: 28px;
    line-height: 40px;
  }
  p{
    font-size: 16px;
  }
  .center-image{
    width: 100%;
  }
  .secondary-btn, .tab-btn ul li {
    padding: 8px 20px;
    font-size: 16px;
    gap:8px;
  }
  .accordion-button:not(.collapsed) {
    font-size: 18px;
  }
  .info-thumbnails img{
    width: 100%;
  }
}
@media screen and (max-width:580px) {
  .partner-icon img {
    max-width: 50px;
  }
  .trading-info-logo img {
    width: 25px;
  }
  .hero-child-image-1{
    left: 0;
  }
  .hero-child-image-2{
    display: none;
  }
  body{
    overflow-x: hidden;
  }
  .info-list ul{
    align-items: start !important;
  }
  .footer-pagination {
    flex-wrap: wrap;
  }
  .footer-item{
    width: 50%;
  }
  .footer-description{
    width: 100%;
  }
  .ico-address p{
    font-size: 13px;
  }
  .clients-trading-table table tr td {
    font-size: 14px;
  }
  .clients-trading-table table tr td, .clients-trading-table table tr th {
    padding: 10px 5px;
  }
  .table-card {
    padding: 10px;
  }
  .clients-trading-table table tr th {
    font-size: 14px;
  }
  p{
    font-size: 15px;
  }
  .navbar {
    padding-left:0px;
    padding-right:0px;
  }
  .primary-btn,.secondary-btn{
    font-size: 14px;
  }
  .navbar-brand img {
    max-width: 190px;
  }
  .nav-item > a {
    font-size: 15px;
    padding: 5px 10px;
  }
  .primary-btn img, .secondary-btn img {
    width: 16px;
  }
}



